.content-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 8.5rem);
    text-align: center;
    gap: 5%;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.phone-container {
    display: grid;
    width: 14.66875rem;
    justify-items: center;
    gap: 1rem;
}

.email-container {
    display: grid;
    flex-direction: column;
    width: 14.66875rem;
    justify-items: center;
    gap: 1rem;
}

.live-chat-container {
    display: grid;
    flex-direction: column;
    width: 14.66875rem;
    justify-items: center;
    gap: 1rem;
}

a {
    display: block;
    width: fit-content;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(55, 124, 197, 0.5);
}

a:hover {
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .content-container {
        min-height: 100vh;
    }
}

@media screen and (max-width: 618px) {
    .contact-info-container {
        flex-direction: column;
        margin: 0 auto;
        height: 100%;
        gap: 1rem;
    }
}
